<%= erb :header %>

<main id="main">
  <div class="container">
    <div class="intro-text">
      <div class="row">
        <div class="center-block">
          <h1 class="intro-lead-in">FAQs</h1>
        </div>
      </div>
      <div class="row">
        <h3 class="intro-heading">
          Who are you, and why should I sign up for yet another email newsletter?
        </h3>
        <p>
          I'm a guy moving out of the tech lead role and into a management role. I'm inspired by the Ruby Weekly/Postgres Weekly newsletters. I really like getting a distilled set of posts periodically.  It beats checking Hacker News five times a day. I'm hoping to do something similar for people in a similar position as me (technical people who manage and lead).
        </p>
      </div>
      <div class="row">
        <h3 class="intro-heading">
          Who is this newsletter targeted at?
        </h3>
        <p>
          I've always worked in small companies (less than 100 people).  The focus will be on pragmatic resources related to leadership, management, project management, team communication, and building effective organizations.  I suspect that much of it is widely applicable to larger organizations.  Because I've never been a part of one, I'm not going to assume.
        </p>
      </div>
      <div class="row">
        <h3 class="intro-heading">
          How often does this newsletter come?
        </h3>
        <p>
          Once a week, on Wednesday.
        </p>
      </div>
      <div class="row">
        <h3 class="intro-heading">
          Are you going to sell my email address to spammers, or just send me spam yourself?
        </h3>
        <p>
          Spam is super annoying. I'm not a fan, and I can't believe it works. I will not sell your information to anyone, or send you spam. If you find the newsletter to be an annoyance, feel free to unsubscribe via the link at the bottom of each email.
        </p>
      </div>
      <div class="row">
        <h3 class="intro-heading">
          What if I want to unsubscribe?
        </h3>
        <p>
          If you don't find the newsletter useful, just click the link at the bottom, and you won't get another message from me. If you do unsubscribe, I'd love to hear why, so I can do a better job in the future.
        </p>
      </div>
      <div class="row">
        <h3 class="intro-heading">
          Do you take feedback/suggestions?
        </h3>
        <p>
          Solid feedback is the only way improve.  If you have suggestions, feedback, articles/resources that you've found useful that you'd like to share, please send me an <a href="mailto:techleadershipweekly@gmail.com">email</a>.
        </p>
      </div>
      <!--
      <div class="row">
        <h3 class="intro-heading"></h3>
        <p></p>
      </div>
      -->
    </div>
  </div>
</main>

<%= erb :footer %>
