  <!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- UPPER FOOTER -->
        <div class="upper-footer">
          <!--
          <div class="pull-left">
            <a class="logo page-scroll" href="#page-top"><img src="img/logo.png" class="img-responsive" alt=""></a>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco. Qui officia deserunt mollit anim id est laborum. </p>
          </div>
          -->
          <div class="pull-right">
            <ul class="footer-nav">
              <li class="">
                <a class="page-scroll" href="/faq">FAQs</a>
              </li>
              <!--<li class="">
                <a class="page-scroll" href="#features">Features</a>
              </li>
              <li class="">
                <a class="page-scroll" href="#video">Video</a>
              </li>
              <li class="">
                <a class="page-scroll" href="#pricing">Pricing</a>
              </li>
              <li class="active">
                <a class="page-scroll" href="#team">Team</a>
              </li>
              <li class="">
                <a class="page-scroll" href="#clients">Clients</a>
              </li>-->
            </ul>
            <ul class="footer-secondary-nav">
              <!--<li class="">
                <a class="page-scroll" href="#"><span class="fa fa-phone"></span>+44-12-3456-7890</a>
              </li>-->
              <!--
              <li class="">
                <a class="page-scroll" href="#"><span class="fa fa-envelope"></span>questions@techleadershipweekly.com</a>
              </li>
              -->
              <!--<li class="">
                <a class="page-scroll" href="#"><span class="fa fa-map-marker"></span>Glen Road, E13 8 New York</a>
              </li>-->
            </ul>
          </div>
        </div>
        <!-- END UPPER FOOTER -->
        <!-- LOWER FOOTER -->

        <div class="lower-footer">
          <div class="pull-left">
            <span>© <%= Date.today.year %> Jason Vanderhoof. All rights reserved </span>
            <!--<a href="#"> Terms of Service </a>
            <a href="#"> Privacy Policy </a>-->
          </div>
          <div class="pull-right">
            <!--<a href="#"><span class="fa fa-facebook"></span></a>-->
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-linkedin"></span></a>
            <!--<a href="#"><span class="fa fa-youtube"></span></a>-->
            <!--<a href="#"><span class="fa fa-pinterest"></span></a>-->
            <!--<a href="#"><span class="fa fa-skype"></span></a>-->
          </div>
        </div>
        <!-- END LOWER FOOTER -->
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->

  <!-- SCRIPTS -->
  <!-- jQuery & Bootstrap -->
  <script src="js/jquery.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- smoothscroll  -->
  <script src="js/smoothscroll.js"></script>
  <!-- piechart  -->
  <script src="js/jquery.easytabs.min.js"></script>
  <!-- tabs  -->
  <!--<script src="js/piechart.js"></script>-->
  <!-- sliders -->
  <!--<script src="js/owl.carousel.min.js"></script>-->
  <!-- contact form -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/classie.js"></script>
  <!-- google map -->
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
  <!-- custom script -->
  <script src="js/scripts.js"></script>
</body>
</html>
