<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Tech Leadership Weekly Newsletter">

  <!-- SITE TITLE -->
  <title>Tech Leadership Weekly</title>
  <!-- STYLESHEETS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <!-- DEMO COLORS  -->
  <link href="#" class="css-color" rel="stylesheet">

  <!-- FAVICON  -->
  <link rel="icon" href="img/favicon.ico">
</head>

<body>
  <!-- PRELOADER -->
  <div id="preloader">
    <div class="spinner"></div>
  </div>

  <!-- MAIN NAV -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- MAIN NAV LOGO -->
        <!--
        <a class="logo page-scroll" href="#header"><img src="img/logo.png" class="img-responsive" alt=""></a>
        -->
      </div>
      <div class="collapse navbar-collapse" id="main-menu">
        <!-- MAIN NAV LINKS -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="/faq">FAQs</a>
          </li>
          <li>
            <a class="page-scroll" href="/">Home</a>
          </li>
          <li>
            <a target="_new" href="http://us12.campaign-archive1.com/home/?u=2f81276f6cd0c0c32d7875c2d&id=4abae48135">Past Issues</a>
          </li>
          <!--
          <li>
            <a class="page-scroll" href="#video">Video</a>
          </li>
          <li>
            <a class="page-scroll" href="#pricing">Pricing</a>
          </li>
          <li>
            <a class="page-scroll" href="#team">Team</a>
          </li>
          <li>
            <a class="page-scroll" href="#clients">Clients</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
          -->
        </ul>
        <!-- END MAIN NAV LINKS -->
      </div>
    </div>
  </nav>
  <!-- END MAIN NAV -->
