  <%= erb :header %>

  <!-- HEADER -->
  <header id="header">
    <div class="container">
      <div class="intro-text">
        <h1 class="intro-lead-in">Tech Leadership Weekly</h1>
        <span class="intro-heading">A curated collection of interesting and insightful articles about leadership, management, process, and innovation delivered to your inbox weekly.</span>
        <div id="subscribe" class="header-buttons">
          <form class="subscribe-form">
            <input type="email"  placeholder="Your email adress" name="email" id="email" />
            <button type="submit">Subscribe</button>
          </form>
          <div id="subscribe-success" class="hidden">
            <div class="alert alert-success">
              Thanks for signing up! Your first issue will be delivered Wednesday.
            </div>
          </div>
        </div>

        <!--<div class="intro-bullets intro-text">-->
        <span class="intro-heading intro-bullet">
          One email, delivered weekly
        </span>
        <span class="intro-heading intro-bullet">
          Never any Spam
        </span>
        <span class="intro-heading intro-bullet">
          Price: $0 (Free!)
        </span>
        <!--</div>-->
      </div>
    </div>
    <div id="headerbackground"></div>
  </header>
  <!-- END HEADER -->
  <%= erb :footer %>
