  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="KeySoft - Software Landing Page">
    <meta name="author" content="KeyDesign" />
    <!-- SITE TITLE -->
    <title>KeySoft - Software Landing Page</title>
    <!-- STYLESHEETS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- DEMO COLORS  -->
    <link href="#" class="css-color" rel="stylesheet">

    <!-- FAVICON  -->
    <link rel="icon" href="img/favicon.ico">
  </head>
